@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Spartan', sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    position: absolute;
    z-index: 10;
    margin: 4rem;
    .nav {
        margin-left: 4rem;
        a {
            margin-right: 3rem;
            color: white;
            font-size: 0.9rem;
            position: relative;
            
        }
        a:hover:after {
            content: '';
            position: absolute;
            width: 50%;
            height: 2px;
            background-color: white;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.menu {
    display: flex;
    position: relative;
    width: 100vw;
    height: 70vh;
    /* animation: 5s slide ;

    @keyframes slide {
        0% {
            transform: translatex(0);
        }
        100% {
            transform: translatex(-200%);
        }
    } */

    .slide {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        .imageMenu {
            width: 55%;
            height: 100%;
            background-image: url(/images/desktop-image-hero-1.jpg);
            background-size: cover;
            position: relative;
            .slideArrows {
                position: absolute;
                display: flex;
                width: 100px;
                height: 50px;
                bottom: 0;
                right: -100px;
                z-index: 100;
                .arrowLeft, .arrowRight{
                    width: 50%;
                    background-color: black;
                    background-image: url(/images/icon-angle-left.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                }
                .arrowLeft:hover, .arrowRight:hover {
                    background-color: rgba(0, 0, 0, 0.747);
                }
                .arrowRight {
                    background-image: url(/images/icon-angle-right.svg);
                }
            }
        }
        .discover {
            max-width: 45%;
            position: relative;
            .marger {
                margin: 10% ;
                h2 {
                    font-size: 3.6em;
                    line-height: 4rem;
                }
                p {
                    font-size: 1.2em;
                    line-height: 1.9em;
                    color: rgb(172, 172, 172);
                }
                a {
                    display: flex;
                    align-items: center;
                    letter-spacing: 1rem;
                    font-weight: 600;
                    margin-top: 3rem;
                    font-size: 1.2rem;
                    img {
                        width: 3rem;
                        margin-left: 3rem;
                    }
                }
                a:hover {
                    opacity: 0.4;
                }
            }
        }
    }
    .slide2 {
        transform: translatex(100%);
    }
    .slide3 {
        transform: translatex(200%);
    }

}

footer {
    width: 100%;
    height: 30vh;
    display: flex;
    .darkImage {
        width: 30%;
        background-image: url(/images/image-about-dark.jpg);
        background-size: cover;
    }
    .about {
        width: 40%;
        .marger {
            margin: 8%;
            h3 {
                text-transform: uppercase;
                letter-spacing: 0.3em;
            }
            p {
                font-size: 1em;
                line-height: 1.5em;
                color: rgb(172, 172, 172);
            }
        }
    }
    .lightImage {
        width: 30%;
        background-image: url(/images/image-about-light.jpg);
        background-size: cover;
    }
}

.fdsfs::before:hover {
    
}