@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
  font-family: 'Spartan', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 10;
  top: 3rem;
  left: 3rem;
}

nav .nav {
  margin-left: 4rem;
}

nav .nav img {
  display: none;
  cursor: pointer;
}

nav .nav a {
  margin-right: 3rem;
  color: white;
  font-size: 0.9rem;
  position: relative;
}

nav .nav a:hover:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: white;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.firstSlide {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.secondSlide {
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.firstSlideBack {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.secondSlideBack {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 70vh;
  -webkit-transition: 2s;
  transition: 2s;
  /* @keyframes slide {
        0% {
            transform: translatex(0);
        }
        100% {
            transform: translatex(-200%);
        }
    } */
}

.menu .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu .slide .imageMenu {
  width: 55%;
  height: 100%;
  background-image: url(../images/desktop-image-hero-1.jpg);
  background-size: cover;
  position: relative;
}

.menu .slide .imageMenu .slideArrows {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 50px;
  bottom: 0;
  right: -100px;
  z-index: 100;
}

.menu .slide .imageMenu .slideArrows .arrowLeft, .menu .slide .imageMenu .slideArrows .arrowRight {
  width: 50%;
  background-color: black;
  background-image: url(../images/icon-angle-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.menu .slide .imageMenu .slideArrows .arrowLeft:hover, .menu .slide .imageMenu .slideArrows .arrowRight:hover {
  background-color: rgba(0, 0, 0, 0.747);
}

.menu .slide .imageMenu .slideArrows .arrowRight {
  background-image: url(../images/icon-angle-right.svg);
}

.menu .slide .discover {
  width: 45%;
  position: relative;
}

.menu .slide .discover .marger {
  margin: 10%;
}

.menu .slide .discover .marger h2 {
  font-size: 3.6em;
  line-height: 1.5em;
}

.menu .slide .discover .marger p {
  font-size: 1.2em;
  line-height: 1.9em;
  color: #acacac;
}

.menu .slide .discover .marger a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1rem;
  font-weight: 600;
  margin-top: 3em;
  font-size: 1.2em;
}

.menu .slide .discover .marger a img {
  width: 3rem;
  margin-left: 3rem;
}

.menu .slide .discover .marger a:hover {
  opacity: 0.4;
}

.menu .slide2 {
  -webkit-transform: translatex(100%);
          transform: translatex(100%);
}

.menu .slide2 .imageMenu {
  background-image: url(../images/desktop-image-hero-2.jpg);
}

.menu .slide3 {
  -webkit-transform: translatex(200%);
          transform: translatex(200%);
}

.menu .slide3 .imageMenu {
  background-image: url(../images/desktop-image-hero-3.jpg);
}

footer {
  width: 100%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .darkImage {
  width: 30%;
  background-image: url(../images/image-about-dark.jpg);
  background-size: cover;
}

footer .about {
  width: 40%;
}

footer .about .marger {
  margin: 8%;
}

footer .about .marger h3 {
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

footer .about .marger p {
  font-size: 1em;
  line-height: 1.5em;
  color: #acacac;
}

footer .lightImage {
  width: 30%;
  background-image: url(../images/image-about-light.jpg);
  background-size: cover;
}

.cont {
  overflow: hidden;
}

@media screen and (max-width: 1100px) {
  .menu {
    min-height: 100vh !important;
    height: 1000px !important;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .imageMenu {
    width: 100% !important;
    height: 50% !important;
  }
  .discover {
    width: 100% !important;
    -webkit-box-flex: 1 !important;
        -ms-flex-positive: 1 !important;
            flex-grow: 1 !important;
  }
  .discover h2 {
    color: blue;
  }
  .slideArrows {
    right: 0 !important;
  }
  footer {
    height: unset !important;
  }
  footer .darkImage {
    width: 100% !important;
    height: 50vw;
  }
  footer .about {
    width: 100% !important;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 10px 0;
  }
  footer .lightImage {
    width: 100% !important;
    height: 50vw;
  }
}

@media screen and (max-width: 660px) {
  nav {
    left: 0;
    right: 0;
  }
  nav .logo {
    margin: 0 auto;
  }
  nav .nav {
    display: none;
    position: absolute;
    margin-left: 0;
    left: 0px;
    right: 0;
    padding: 3rem 2rem;
    background-color: white;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  nav .nav a {
    color: black;
    margin-right: 8%;
    font-size: 1em;
  }
  nav .openNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .openNav img {
    display: block;
    margin-right: auto;
  }
  .discover {
    font-size: 0.5rem;
  }
  .imageMenu {
    background-image: url(../images/mobile-image-hero-1.jpg) !important;
    background-position: center;
  }
  .slide2 .imageMenu {
    background-image: url(../images/mobile-image-hero-2.jpg) !important;
  }
  .slide3 .imageMenu {
    background-image: url(../images/mobile-image-hero-3.jpg) !important;
  }
  .humContainer {
    position: relative;
    height: 80px;
    width: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
  }
  .humburger {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 0 1rem;
    position: relative;
  }
  .humburger::before, .humburger::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  .humburger::after {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
}
/*# sourceMappingURL=style.css.map */